.card-text {
  max-width: 100%;
  white-space: nowrap;
  color: grey;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  .shadow {
    position: absolute;
    box-shadow: inset -30px 0px 31px -15px rgba(255, 255, 255, 1) !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.metric {
  position: relative;
  font-size: 0.8rem;
  &::before {
    position: absolute;
    content: "";
    top: 0.4rem;
    left: -1rem;
    width: 10px;
    height: 10px;
    border: 1px solid lightgrey;
  }
}

.card-title {
  font-size: 20px;
}

.image-wrapper {
  height: 200px;
  overflow: hidden;
  background-image: url(../../assets/no-img.png);
  background-position: center;
  background-size: contain;
  .card-img-top {
    object-fit: cover;
    height: 100%;
  }
}

.card{
  max-width: 18rem !important;
  width: 100% !important;
}